/* Palette: https://lospec.com/palette-list/odd-feeling */

:root {
    --bg-color: #ff847c;
    --panel-bg-color: #e84a5f;
    --text-em-color: #900c3f;
    --player1-color: #900c3f;
    --player2-color: #feceab;
}

.bg-color {
    background-color: var(--bg-color);
}

.text-em-color {
    color: var(--text-em-color);
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    float: left; /* Prevent margin collapse */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: var(--bg-color);
}
